.home{
	background-image: none;
	
	main{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.textwidget > p > img{
		padding-top: 0px;
	}

	main > div{
		padding-top: 0px !important;
	}

	p{
		font-size: 19px !important;
	}

	.page-header{
		display: none;
	}

	.panel1-text{
		color: transparent;
	}

	h1{
		margin-top: 0px;
	}

	.jw_easy_slider_name, 
	.jcarousel-pagination,
	.jcarousel-control-prev,
	.jcarousel-control-next {
		display: none !important;
		visibility: hidden;
	}

	.jcarousel-wrapper{
		margin-top: 0px;
		margin-bottom: 0px;
		border: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none; 
	}

	.caption-wrap p{
		font-size: 14px !important;
		font-weight: 400 !important;
	}

	footer > .container > p {
		font-size: 12px !important;
	}

	.panel-grid {
		margin-bottom: 0px !important;

		.panel-grid-cell {
			padding: @jumbotron-padding (@jumbotron-padding / 2);
			padding-bottom: 20px !important;
			margin-bottom: 0px;
			// max-width: 45em;

			p {
			    margin-bottom: (@jumbotron-padding / 2);
			    font-size: @jumbotron-font-size;
			    font-weight: 200;
			  }

			.panel, .widget{
				background-color: transparent;
				max-width: 100%;
			}
		}
	}

	.wrap{
		width: 100%;
	}

	@media (max-width: 320px) {
	body {
		p {
			text-align: left;
		}
	}

	.panel-grid > div{
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
}


@media (max-width: 780px) {
	.wrap {
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media (max-width: 599px) {
	.panel-grid > div{
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}

@media (min-width: 600px) and (max-width: 1270px) {
	.panel-grid > div{
		padding-left: 65px !important;
		padding-right: 65px !important;
	}
}

@media (min-width: 1276px) and (max-width: 1430px){
	.panel-grid > div{
		padding-left: 10% !important;
		padding-right: 10% !important;
	}
}

@media (min-width: 1431px) and (max-width: 1635px){
	.panel-grid > div{
		padding-left: 15% !important;
		padding-right: 15% !important;
	}
}

@media (min-width: 1636px) and (max-width: 1799px){
	.panel-grid > div{
		padding-left: 16.5% !important;
		padding-right: 16.5% !important;
	}
}

@media (min-width: 1800px) and (max-width:1979px){
	.panel-grid > div{
		padding-left: 20% !important;
		padding-right: 20% !important;
	}
}

@media (min-width: 1980px) {
	.panel-grid > div{
		padding-left: 25% !important;
		padding-right: 25% !important;
	}
}

}

@media (max-width: 600px){
	h1, .h1 {
		margin-top: 10px !important;
		font-size: 28px !important;
	}
}